.rangePicker {
  margin-bottom: 16px;
}

.content {
  display: flex;
  gap: 16px;
  height: 80vh;
}

.sidebar {
  width: 400px;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 1200px;
  padding: 16px;
  background-color: #f5f5f5;
  border-radius: 6px;
  & .chart-container {
    width: 100% !important;
  }
}
