@use 'src/scss/vars/colors';

.default {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 30px;
    padding: 0.4rem;
    border-radius: 10px;
    background: colors.$grey;
}
.danger {
    display: flex;
    width: 26px;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 10px;
    background: colors.$red-05;
}
.warning {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 26px;
    padding: 0.5rem;
    border-radius: 10px;
    background: colors.$orange-05;
}