@use 'src/scss/vars/colors';

.default {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 25px;
    padding: 0.4rem;
    border: 1px solid;
    border-radius: 6px;
    border-color: colors.$dark-grey;
    background: colors.$grey;
    z-index: 10;
}
.danger {
    display: flex;
    width: 26px;
    height: 25px;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid;
    border-color: colors.$red;
    background: colors.$red-06;
    z-index: 10;
}
.warning {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 25px;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid;
    border-color: colors.$orange;
    background: colors.$orange-06;
    z-index: 10;
}