$primary: #FAB82E;
$red: rgb(255, 63, 40);
$orange: #FAB82E;
$red-05: rgba(255, 63, 40, 0.5);
$red-06: rgba(255, 63, 40);
$orange-05: rgba(250, 184, 46, 0.5);
$orange-06: rgba(250, 184, 46);
$red-dark: rgb(213, 39, 17);
$orange-dark: #d38c00;
$green: #46e520;
$grey: #9f9f9e;
$dark-grey: #50504e;
$grey-light: #EBEBEB;
