* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    flex-grow: 1;
  }
}

.container {
  margin: 0 auto;
  width: 90%;
}

.cube {
  width: 100px;
  height: 2000px;
  background-color: red;
}
