@mixin blink {
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0, 2.0, 0, 1.0);
    animation-duration: 1s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 2.0, 0, 1.0);
    -webkit-animation-duration: 2s;
}

@mixin card ($width: auto, $border: none) {
    width: $width;
    border: $border;
}

@keyframes blinker {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 1.0;
    }
}